.maincontainer
{
    background-image:url(./assets/images/img4.jpg);
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    filter: brightness(90%);
    filter: contrast(40%);
    filter: opacity(200%);
    
}
.location{
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:1;
}
.location input{
    width:22%;
    height:44px;
    background-color:#ffe8f7;
    color:#412728;
    font-size:bigger;
    border:2px solid white;
    outline:none;
}

.location input:focus{
border:2px solid violet;
outline:none;
}


.city{
    position:absolute;
    top:19%;
    left:0;
    right:0;
    z-index:1; 
}

.city h1{
  font-size:120px;
  font-weight:bold;
}
.city h2,h4{
    font-weight:bold;
}
.city h2{
    rotate:-90deg;
    margin-top:65px;
}

.bottom{
    position:absolute;
    bottom:3%;
    left:0;
    right:0;
    z-index:1; 
}
.allbottomparts{
    border-radius:12px;
    background-color:gray;
    opacity:0.6;
}